[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
	default = current
[core]
	editor = code --wait
	autocrlf = false
[user]
	name = HubiBoar
	email = 150520704+HubiBoar@users.noreply.github.com