*.env
profiles/**/state/
new-profiles/**/state/
**/qutebrowser-profiles/*

# But keep these two files
!**/qutebrowser-profiles/**/config/config.py
!**/qutebrowser-profiles/**/config/autoconfig.yml
!**/qutebrowser-profiles/**/config/bookmarks/urls
