x-base: &base
  network_mode: "host"
  #user: "${UID?:'UID is needed'}:${GID?:'GID is needed'}"  # <-- run as your host user
  init: true
  environment:
    PROFILE: ${PROFILE}
    STATE_PATH: "$PWD/profiles/${PROFILE}/state"
    STATE_HOME_PATH: "$PWD/profiles/${PROFILE}/state/root"
    DISPLAY: $DISPLAY
    #SSH_AUTH_SOCK: /ssh-agent
  volumes: 
    - ./profiles/${PROFILE}/state/root/.local/share/nvim/harpoon:/home/hubert/.local/share/nvim/harpoon
    - ./profiles/${PROFILE}/state/root/.ssh:/home/hubert/.ssh
    - ./profiles/${PROFILE}/state/root/.azure:/home/hubert/.azure
    - ./profiles/${PROFILE}/state/root/.aspnet:/home/hubert/.aspnet
    - ./profiles/${PROFILE}/state/root/.config/gh:/home/hubert/.config/gh
    - ./profiles/${PROFILE}/lazy-lock.json:/home/hubert/.config/nvim/lazy-lock.json
    - /var/run/docker.sock:/var/run/docker.sock
    - .:/home/dotfiles
    - ~:/home/home
    - ~/projects:/home/projects
    - /etc/hosts:/etc/hosts
    - ~/.docker:/home/hubert/.docker
    - ~/.password-store:/home/hubert/.password-store
    - ~/.gnupg:/home/hubert/.gnupg:rw
    - /tmp/.X11-unix:/tmp/.X11-unix \/

services:
    base:
      image: cde/base 
      build:
        context: ./profiles/base

    go:
      <<: *base 
      container_name: cde-go
      build: 
        context: ./profiles/go

    dotnet:
      <<: *base 
      container_name: cde-dotnet
      build: 
        context: ./profiles/dotnet

    nis:
      <<: *base 
      container_name: cde-nis
      build:
        context: ./profiles/nis

    bsure:
      <<: *base 
      container_name: cde-bsure
      build:
        context: ./profiles/bsure
