[alias]
	cam   = !git add -A && git commit -m
	caa   = !git add -A && git commit --amend
	caap  = !git add -A && git commit --amend && git push
	caapf = !git add -A && git commit --amend && git push --force
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
	default = current
[core]
	editor = nvim
	autocrlf = false
[user]
	name = HubiBoar
	email = 150520704+HubiBoar@users.noreply.github.com
